#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transofmr:uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
    
}

.center {
    text-align: center;
    
}

.jumbotron{
    background-image: asset-url("alpha_blog.png");
    background-size: 100% 100%, contain;
    height: 650px;
}

.jumbotron h1 {
    color: #00cc99;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xl {
    font-size: 1.7em;
    background-color: black;
}

footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}

footer small{
    float: left;
}
footer ul{
    float: right;
    list-style: none;
}

.article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
    
}

.article-title{
    font-weight: bold;
    font-size: 1.5em;
    
}

.article-body{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}