<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="">The Complete Ruby on Rails Developer</a>
            by <a href="">Dylan Nguyen </a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>