<h1> Hello this is the about page.</h1>
<body> 
<table>
    <tr>
        <td>
            I use to play a game called "DOTA Auto Chess."<br>
            There was a mechanic called syenrgies. <br>
            Basically if you had certain units of the same factions, you would get bonuses.<br>
            There was one faction called "Gods" which essentially said "If you do not have any synergies, cooldown of all units is reduced by half."<br>
            This checkbox html was created with this in mind.<br>
            The idea was to check off the units you have and be able to see which units you could still choose from and maintain "God Synergy"<br>
            This was created when I first started html.<br>
            Issues would be auto checking boxes of same unit. ie Lycan Dragon Knight.<br>
            Limiting the check boxes per faction to the designated limit. ie Human => 1, Elf => 2<br>
            I do not however play the game anymore, so no reason to update this.
            
        </td>
    </tr>
</table>
</body>

<%= link_to 'home' , root_path %>